<!DOCTYPE html>
<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new" method="post">
      <p>
        <input
          type="text"
          name="messageUser"
          placeholder="Your name"
          required
        />
      </p>
      <p>
        <textarea
          name="messageText"
          placeholder="Your message"
          required
        ></textarea>
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
    <p><a href="/">Back to messages</a></p>
  </body>
</html>
